<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="dialogCreateUser()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table [value]="users" #dt [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['username','firstName','lastName','mail']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Users</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code">Id </th>
                        <th pSortableColumn="name">Username </th>
                        <th>Image</th>
                        <th pSortableColumn="price">First Name </th>
                        <th pSortableColumn="category">Last Name </th>
                        <th pSortableColumn="rating">Email </th>
                        <th pSortableColumn="inventoryStatus">Password Change </th>
                        <th pSortableColumn="inventoryStatus">Is locked </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span>{{user.id}}</span></td>
                        <td style="width:14%; min-width:10rem;"><span>{{user.username}}</span></td>
                        <td style="width:14%; min-width:10rem;"><span>IMAGEN</span></td>
                        <td style="width:14%; min-width:10rem;"><span>{{user.firstName}}</span></td>
                        <td style="width:14%; min-width:8rem;"><span>{{user.lastName}}</span></td>
                        <td style="width:14%; min-width: 10rem;"><span>{{user.mail}}</span></td>
                        <td style="width:14%; min-width: 10rem;">
                            <button pButton pRipple icon="pi pi-send" class="p-button-rounded p-button-warning" (click)="getPasswordUpdate(user.id)" ></button>
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span>{{user.isLocked}}</span></td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="getUserUpdate(user.id)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="getUserDelete(user.id)"></button>
                                <button pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-primary mr-2" (click)="getUserLocked(user.id)" ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="userUpdateDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" class="p-fluid">
            
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Username</label>
                    <input type="text" pInputText id="name" [(ngModel)]="this.userUpdate.username" required autofocus disabled [ngClass]="{'ng-invalid ng-dirty' : submitted && !this.userUpdate.username}"/>
                    <span class="requiredFile" *ngIf="!this.userUpdate.username.valid && this.userUpdate.username.touched">*Campo obligatorio</span>
                </div>
                <div class="field">
                    <label for="name">First Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="this.userUpdate.firstName" required autofocus #name="ngModel" [ngClass]="{'ng-invalid ng-dirty' : submitted && !this.userUpdate.firstName}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !this.userUpdate.firstName">First Name is required.</small>
                </div>
                <div class="field">
                    <label for="lastname">Last Name</label>
                    <input type="text" pInputText id="lastname" [(ngModel)]="this.userUpdate.lastName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !this.userUpdate.lastname}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !this.userUpdate.lastName">Last Name is required.</small>
                </div>
            </ng-template>
            
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="userUpdateDialog = false" ></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateUser()"></button>
            </ng-template>
            
        </p-dialog>

        <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span >Are you sure you want to delete this user?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="deleteUser()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected users?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

        <!--Modal para bloquear usuario-->
        <p-dialog [(visible)]="lockedUser" [style]="{width: '450px'}" header="Locked user" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <br>
                <p-toggleButton onLabel="Locked" offLabel="Unlocked" 
               [(ngModel)]="this.userLocked.isLocked" 
                 ></p-toggleButton>
            </ng-template>
            
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="lockedUser = false" ></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateUserLock()"></button>
            </ng-template>
        </p-dialog>

                <!--Modal para cambio de contraseña-->
        <p-dialog [(visible)]="changePassword" header="Confirm change password" [modal]="true" [style]="{width:'450px'}">

            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span >Are you sure you want to confirm the password change?
                </span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="changePassword = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="updatePasswordByAdmin()"></button>
            </ng-template>

        </p-dialog>

        <!--Modal y stepper para agregar usuario-->
        <p-dialog  [(visible)]="addUser" [style]="{width: '700px', height: '450px'}" header="Add User" [modal]="true" class="p-fluid">
            <mat-stepper linear #stepper>

                <mat-step>
                    <form class="example-form">
                        <ng-template matStepLabel>Create user</ng-template>
                      
                        <table class="example-full-width" cellspacing="0"><tr>

                          <td><mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="Firstname">
                          </mat-form-field></td>

                          <td><mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Lastname">
                          </mat-form-field></td>
                        </tr></table>
                      
                        <p>
                            <table class="example-full-width" cellspacing="0"><tr>
                            <td>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput  placeholder="Ex. pat@example.com">

                          </mat-form-field></td>
                          <td>

                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Username</mat-label>
                             <input type="text" matInput  placeholder="Username">
                          </mat-form-field>
                        </td>
                    </tr></table>
            
                        <p>
                            <section class="example-section" >
                                <h4>Configuration options:</h4>
                                <p><mat-checkbox >Send credentials to email</mat-checkbox></p>
                                <p><mat-checkbox >Username equal to email</mat-checkbox></p>
                              </section>
                      </form>
                      <p>
                      <div>
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                      </div>
                </mat-step>


                <mat-step>
                    <form >
                      <ng-template matStepLabel>Rol user</ng-template>
                      <input type="text" placeholder="Lastname">

                      <div>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>

                  <mat-step>
                    <form >
                      <ng-template matStepLabel>Upload image</ng-template>
                        
                      <div>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
               
              </mat-stepper>
           

        </p-dialog>

    </div>
</div>
