<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="https://elearning.bdgsa.net/pluginfile.php/1/theme_lambda/logo/1642803314/Logo11.png" alt="logo"
            width="70rem">
    </a>

    <button class="p-link layout-menu-button layout-topbar-button p-trigger" style="margin-right: 200px "
        (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button class="p-link layout-topbar-menu-button layout-topbar-button p-trigger"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #menu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <div style="font-size: 8px" class="mt-3">
            <p-splitButton  styleClass="p-button-outlined p-button-secondary mr-2 mb-2"  [model]="this.languages" >
                <ng-template pTemplate="content" >
                    <span style="font-size: 1.7rem; color: #B2BABB;">Language</span>               
                    <span style="font-size: 1.7rem;" class="ml-2 flex align-items-center font-bold">{{this.lang}}</span>
                </ng-template>
            </p-splitButton>
        </div>


        <div style="font-size: 8px" class="mt-3">
            <p-splitButton style="width: 10rem;" styleClass="p-button-outlined p-button-secondary mr-2 mb-2"  [model]="this.log" >
                <ng-template pTemplate="content" >
                    <img *ngIf="!this.image"src="https://ui-avatars.com/api/?background=B8B8B8&rounded=true&name={{this.firstname}}+{{this.lastname}}" width="25"/>
                    <img *ngIf="this.image" src="http://localhost:3000/users/getImage/{{ this.image }}" width="25" height="25" style="border-radius:20px"/>
                    <span class="ml-2 flex align-items-center font-bold">{{this.firstname}} {{this.lastname}}</span>
                </ng-template>
            </p-splitButton>
        </div>
    </div>
</div>