<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="https://elearning.bdgsa.net/pluginfile.php/1/theme_lambda/logo/1642803314/Logo11.png" alt="logo"
            width="70rem">
    </a>

    <button class="p-link layout-menu-button layout-topbar-button p-trigger" style="margin-right: 200px "
        (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button class="p-link layout-topbar-menu-button layout-topbar-button p-trigger"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #menu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <div>
            <section >
                <mat-form-field appearance="outline">
                <mat-label>Language</mat-label>
                <mat-select >
                    <mat-option (click)="setLanguage('es')" >
                    es
                </mat-option>
                <mat-option  (click)="setLanguage('en')" >
                    en
                </mat-option>
                </mat-select>
                </mat-form-field>
            </section>
        </div>
         
        
        <p-cascadeSelect [(ngModel)]="selectedLenguaje" [options]="options" optionLabel="name" 
            [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '8rem' }" [style]="{width: '95px'}"
            placeholder="Settings">
            <ng-template pTemplate="option" let-option>
                <div (click)="logOut()" class="country-item">
                    <i class="pi pi-arrow-left mr-2" *ngIf="option.name"></i>
                    <span >{{option.name}} </span>
                </div>
            </ng-template>
        </p-cascadeSelect>
    </div>
</div>