<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button style="width: auto; text-align: center;" pButton pRipple class="p-button-success mr-2"
                            (click)="dialogCreateRole(); secondFormGroup.reset()"><i class="pi pi-plus mr-2"></i> <b>{{"ROLES.ADDROLE" | translate}}</b></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table [value]="roles" #dt [columns]="cols"  responsiveLayout="scroll" [rows]="10"
            [globalFilterFields]="['name']" [rows]="10" [paginator]="true"
            [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{"ROLES.TABLE" | translate}}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"  placeholder="{{'ROLES.SEARCH' | translate}}" class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">{{"ROLES.ID"| translate}}</th>
                        <th pSortableColumn="name">{{"ROLES.NAME"| translate}} </th>
                        <th pSortableColumn="description">{{"ROLES.DESCRIPTION"| translate}} </th>
                        <th pSortableColumn="users">{{"ROLES.USERS"| translate}} </th>
                        <th pSortableColumn="permissions">{{"ROLES.PERMISSIONS"| translate}} </th>
                        <th>{{"ROLES.ACTIONS"| translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span>{{role.id}}</span></td>
                        <td style="width:14%; min-width:10rem;"><span>{{role.name}}</span></td>
                        <td style="width:20%; min-width:20rem;"><span>{{role.description}}</span></td>
                        <td style="width:14%; min-width:10rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-users" class="p-button-rounded p-button-secondary mr-2" (click)="getUsersByAdmin(role.id, role.name)"></button>
                            </div>
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-check-circle"
                                    class="p-button-rounded p-button-primary mr-2" (click)="getPermmissions()"></button>
                            </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-warning mr-2"
                                    (click)="getRoleUpdate(role.id)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger mr-2"
                                    (click)="getRoleDeleted(role.id)"
                                    ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!--Modal para agregar un nuevo role-->
        <p-dialog [(visible)]="addRoles" [style]="{width: '350px'}" header="New Role" [modal]="true" class="p-fluid">
            <form [formGroup]="secondFormGroup">
            <div class="field">
                <label for="name">{{"ROLES.NAMENEWROLE" | translate}}</label>
                <input formControlName="nameNewRol"  type="text" pInputText [(ngModel)]="this.newRole.name" required autofocus
                [ngClass]="{'ng-invalid ng-dirty' : submitted && !this.newRole.name}"/>
            </div>
            <div class="field">
                <label for="name">{{"ROLES.DESCRIPTIONNEWROL" | translate}}</label>
                <input formControlName="descriptionNewRol" type="text" pInputText [(ngModel)]="this.newRole.description" required autofocus
                [ngClass]="{'ng-invalid ng-dirty' : submitted && !this.newRole.description}"/>
            </div>

            <div class="card">
                <p-tabView>
                    <p-tabPanel header="{{'ROLES.USERS' | translate}}" >
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'ROLES.SEARCHUSERS' | translate}}" (input)="onGlobalFilterUsers(dtusers, $event)" class="w-full sm:w-auto" />
                        </span>
                        <hr>   
                        <!-- TABLE USERS MODAL CREATE ROL -->
                        <p-table #dtusers [value]="users" [(selection)]="idsArray" [columns]="cols" responsiveLayout="scroll"  [globalFilterFields]="['firstName', 'lastName']"  dataKey="id" [scrollable]="true" scrollHeight="220px" >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th pSortableColumn="Users" dropdownIcon>{{"ROLES.USERS" | translate}} </th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-user>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="user"></p-tableCheckbox>
                                    </td>
                                    <td style="width:14%; min-width:10rem;"><span class="p-column-title">{{"ROLES.USERS" | translate}}</span>
                                        {{user.firstName}}  {{user.lastName}}
                                    </td>                                
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <!-- --------------------------------------------------------------- -->
                    </p-tabPanel>

                    <p-tabPanel header="{{'ROLES.PERMISSIONS' | translate}}">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'ROLES.SEARCHPERMISSIONS' | translate}}" class="w-full sm:w-auto" />
                        </span>
                        <hr>

                        <p-table #dtusers [value]="users" [(selection)]="idsArray" [columns]="cols" responsiveLayout="scroll"  [globalFilterFields]="['firstName', 'lastName']"  dataKey="id" [scrollable]="true" scrollHeight="220px"  rowGroupMode="subheader">
                            <ng-template  pTemplate="groupheader" let-user let-expanded="expanded">
                                <tr>
                                
                                    <th pSortableColumn="Users" class="mt-2" >Modulo usuario </th>
                                    <th >
                                        <button type="button" pButton pRipple [pRowToggler]="user" class="p-button-text p-button-plain " [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-user>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="user"></p-tableCheckbox>
                                    </td>
                                    <td style="width:5%; min-width:3rem;">puede ver los usuarios</td>                                
                                </tr>
                            </ng-template>
                        </p-table>
        

                    </p-tabPanel>

                </p-tabView>

            </div>

        </form>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="addRoles = false"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="addRole()"></button>
            </ng-template>


        </p-dialog>

          <!--Modal para eliminar el role-->
          <p-dialog [(visible)]="deleteRoleDialog" header="{{'ROLES.CONFIRM' | translate}}" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>{{"ROLES.DELETEROL" | translate}}</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'ROLES.NO' | translate}}"
                    (click)="deleteRoleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'ROLES.YES' | translate}}"
                    (click)="deleteRole()"></button>
            </ng-template>
        </p-dialog>

        <!--Modal para mostrar los usuarios asignados a un rol-->
        <p-dialog [(visible)]="userRolDialog" [style]="{width: '25%'}" header={{nameRole}} [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                
                <p-table [resizableColumns]="true" [autoLayout]="true" [responsive]="true" [value]="rol_user" [(selection)]="idsArray" [scrollable]="true" scrollHeight="250px" >
                    <ng-template pTemplate="header">
                        <tr>
                            
                        </tr>
                    </ng-template>
  
                        <ng-template pTemplate="body" let-user>
                            <tr>                            
                                <td >
                                    <img *ngIf="!user.image"
                                    src="https://ui-avatars.com/api/?background=B8B8B8&rounded=true&name={{user.name}}" width="30"/>
                                    <img *ngIf="user.image" src="http://localhost:3000/users/getImage/{{ user.image }}"
                                    width="30" height="30" style="border-radius:20px"/>
                                </td> 
                                <td  ><span class="p-column-title">{{"ROLES.USERS" | translate}}</span>
                                    {{user.name}}
                                </td> 
                                <td [style]="{width: '4px'}" >
                                    <p-tableCheckbox [value]="user" dataKey="user.username"></p-tableCheckbox>
                                </td>                              
                            </tr>
                        </ng-template>
                        
                        <ng-template   pTemplate="footer" >
                            <button  pButton pRipple type="button" icon="pi pi-check" class="p-button-primary mt-2" label="Save"
                                (click)="this.postUsersByRol()" ></button>
                        </ng-template>

                </p-table>

            </ng-template>
        </p-dialog>

        <!--Modal para mostrar los permisos asignados a un rol-->
        <p-dialog [(visible)]="rolPermissionDialog" [style]="{width: '250px', height: '400px'} "   header="Permissions" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="card">
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" placeholder="Search permissions" (input)="onGlobalFilterUsers(dtusers, $event)" class="w-full sm:w-auto" />
                            </span>
                            <br>
                 <p-table #dtusers [value]="users" [(selection)]="idsArray" [columns]="cols" responsiveLayout="scroll"  [globalFilterFields]="['firstName', 'lastName']"  dataKey="id" [scrollable]="true" scrollHeight="220px"  rowGroupMode="subheader">
                    <ng-template  pTemplate="groupheader" let-user let-expanded="expanded">
                        <tr>
                        
                            <th pSortableColumn="Users" class="mt-2" >Modulo usuario </th>
                            <th >
                                <button type="button" pButton pRipple [pRowToggler]="user" class="p-button-text p-button-plain " [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-user>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="user"></p-tableCheckbox>
                            </td>
                            <td style="width:5%; min-width:3rem;">puede ver los usuarios</td>                                
                        </tr>
                    </ng-template>
                </p-table>

          

    </div>

            </ng-template>
        </p-dialog>

        <!--Modal para actualizar el role-->
        <p-dialog [(visible)]="roleUpdateDialog" [style]="{width: '450px'}" header="Update Role" [modal]="true"
        class="p-fluid">

        <ng-template  pTemplate="content">
            <div class="field">
                <label for="name">{{"ROLES.NAME" | translate}}</label>
                <input  type="text" pInputText id="name" [(ngModel)]="this.roleUpdate.name" required autofocus
                [ngClass]="{'ng-invalid ng-dirty' : submitted && !this.roleUpdate.name}" />
                <small  class="ng-dirty ng-invalid" *ngIf="submitted && !this.roleUpdate.name">{{"ROLES.REQUERIDNAME"| translate}}</small>
            </div>
            <div class="field">
                <label for="description">{{"ROLES.DESCRIPTION"| translate}}</label>
                <input  type="text" pInputText id="description" [(ngModel)]="this.roleUpdate.description" required autofocus
                [ngClass]="{'ng-invalid ng-dirty' : submitted && !this.roleUpdate.description}" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !this.roleUpdate.description">{{"ROLES.REQUERIDDESCRIPTION"| translate}}</small> 
            </div>
            
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="roleUpdateDialog = false"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="updateRole()"></button>
        </ng-template>

    </p-dialog>


    </div>
</div>